body {
    background-color: var(--background-primary);
    background-image: url(../assets/background.png);

    &::after {
        content: "";
        position: fixed;
        inset: 0;
        z-index: -1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
    
    & .container {
        width: 100%;
        max-width: 64rem;
        min-height: 100vh;
        margin-inline: auto;
        padding: 2.75rem 2.25rem;
        gap: 3rem;
        display: grid;
        grid-template-areas: 
            "logo"
            "header"
            "main"
            "footer"
        ;
        
        .logo {
            grid-area: logo;
            display: flex;
            gap: .75rem;
            justify-content: center;
            align-items: center;
            
            .logo-image {
                width: 2.375rem;
            }
            
            span {
                font: var(--logo);
                color: var(--content-primary);
            }
        }

        header {
            grid-area: header;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            background-color: var(--gradient-content);
            
            p {
                font: var(--overline);
                background: var(--gradient-content);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
            }
            
            h1 {
                font: var(--display-md);
                color: var(--content-primary);
            }
        }

        main {
            grid-area: main;

            form {
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
    
                .title-form {
                    display: flex;
                    flex-direction: column;
                    gap: .125rem;
    
                    h2 {
                        font: var(--label-md);
                        color: var(--content-primary);
                    }
                    
                    p {
                        font: var(--p-sm);
                        color: var(--content-tertiary);
                    }
                }

                .inputs {
                    display: flex;
                    gap: 1.25rem .75rem;
                    flex-wrap: wrap;

                    .wrapper-input {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        width: 5.375rem;
                        cursor: pointer;

                        label {
                            font: var(--label-sm);
                            color: var(--content-secondary);
                            text-align: center;
                            transition: color .3s ease;
                            cursor: pointer;
                        }
                        
                        .border-gradient.input {
                            width: 5.375rem;
                            height: 3.25rem;
                            background: var(--gradient-border);
                            border: .0625rem solid var(--background-secondary);
                            border-radius: .5rem;
                            transition: border .3s ease;
                            
                            input {
                                width: 100%;
                                height: 100%;
                                padding: .25rem .5rem;
                                background: var(--background-secondary);
                                font: var(--display-sm);
                                color: var(--content-primary);
                                text-align: center;
                                outline: none;
                                border: none;
                                border-radius: .3rem;
                                transition: border-radius .3s ease .1s;
                            }

                            &:hover {
                                border: .0625rem solid transparent;
                                transition: border .3s ease;
                                
                                input {
                                    border-radius: .5rem;
                                    transition: border-radius .3s ease;
                                }
                            }
                            
                            &:focus-visible, &:focus-within, &:active {
                                border: .125rem solid transparent;
                                transition: border .1s ease;
                                
                                input {
                                    border-radius: .5rem;
                                    transition: border-radius .3s ease;
                                }
                            }
                            
                        }

                        &:hover, &:focus-visible, &:focus-within, &:active {
                            label {
                                color: var(--background-brand);
                            }
                        }
                    }

                    .wrapper-checkbox {
                        width: 100%;
                        display: flex;
                        gap: .5rem;
                        cursor: pointer;

                        input {
                            --switch-width: 1.875rem;
                            --switch-height: 1.25rem;
                            --circle-size: .875rem;
                            --spacing: .1875rem;

                            width: var(--switch-width);
                            height: var(--switch-height);
                            border-radius: 1rem;
                            background: var(--content-tertiary);
                            appearance: none;
                            -webkit-appearance: none;
                            position: relative;
                            flex-shrink: 0;
                            transition: background 2.8s ease;
                            cursor: pointer;

                            &::before {
                                content: "";
                                position: absolute;
                                inset: 0;
                                background: var(--gradient-background);
                                opacity: 0;
                                border-radius: 1rem;
                                transition: opacity 0.3s ease;
                            }

                            &::after {
                                content: "";
                                width: var(--circle-size);
                                height: var(--circle-size);
                                background-color: var(--content-primary);
                                border-radius: 50%;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                left: var(--spacing);
                                transition: left 0.3s ease;
                            }

                            &:checked {
                                &::before {
                                    opacity: 1;
                                }

                                &::after {
                                    left: calc(100% - var(--circle-size) - var(--spacing));
                                }
                            }
                        }

                        label {
                            font: var(--p-sm);
                            color: var(--content-primary);
                            transition: color .3s ease;
                            width: 100%;
                            cursor: pointer;
                        }

                        &:hover {
                            label {
                                color: var(--background-brand);
                            }
                        }
                    }
                }

                .border-gradient.button {
                    width: 100%;
                    height: 3.5rem;
                    background: var(--gradient-border);
                    border: .0625rem solid var(--background-tertiary);
                    border-radius: .5rem;
                    transition: border .3s ease;
                    
                    button {
                        width: 100%;
                        height: 100%;
                        background-color: var(--background-tertiary);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .5rem;
                        outline: none;
                        border: none;
                        border-radius: .3rem;
                        transition: background .3s ease, border-radius .3s ease .1s;
    
                        span {
                            font: var(--label-sm);
                            color: var(--content-primary);
                        }
                    }

                    &:hover, &:focus-visible, &:focus-within, &:active {
                        border: .0625rem solid transparent;
                        transition: border .3s ease;
                        
                        button {
                            background: var(--background-secondary);
                            border-radius: .5rem;
                            transition: background .3s ease, border-radius .3s ease;
                        }
                    }
                }
            }
        }
        
        footer {
            grid-area: footer;

            .questions {
                display: flex;
                flex-direction: column;
                gap: 2.25rem;

                .question {
                    display: flex;
                    flex-direction: row;
                    gap: .5rem;

                    .text-question {
                        display: flex;
                        flex-direction: column;

                        p:first-child {
                            font: var(--p-md);
                            color: var(--content-brand);
                        }
                        p:last-child {
                            font: var(--p-sm);
                            color: var(--content-secondary);
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 848px) {
        .container {
            grid-template-areas: 
            "logo logo"
            "header main"
            "footer main";
            column-gap: 7rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 3rem auto auto;

            .logo {
                justify-content: flex-start;
            }

            header {
                align-self: flex-end;
            }

            main {
                align-self: center;
            }
        }
        
    }
}